$dark-color-gray: #212529;
$light-gray-color: #495057;
$light-background: #e9ecef;
$dark-orange-color: #d9480f;
$light-orange-color: #f76707;

/// font-sizes
$main-font-size-desktop: 4rem;

$main-font-size-tablet: 3rem;
$main-font-size-mobile: 1.5rem;

////
$line-height: 1.4;

#header,
.project-box {
  flex-direction: row;
}
// font size
[name="logo-github"] {
  color: #000;
}

[name="logo-linkedin"] {
  color: #0e76a8;
}

*,
*::after,
*::before {
  margin: 0 auto;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: $light-background;
  line-height: $line-height;
}

body {
  box-sizing: border-box;
  color: $dark-color-gray;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  backface-visibility: hidden;
  padding: 1rem;
  margin: 0 auto;
}

@media all and (min-width: 1086px) {
  #header,
  .project-box {
    flex-direction: row;
  }
}

@media all and (max-width: 530px) {
  body {
    font-size: 2rem;
  }

  #header,
  .project-box {
    flex-direction: column;
    line-height: 1.2;
    font-size: 2rem;
  }

  .icons-box,
  .heading-primary--main,
  .heading-primary--sub,
  .main-heading-main,
  .main-heading-text,
  .main-heading-text {
    font-size: 2rem;
    text-align: center;
  }

  .heading-primary--main,
  .heading-primary--sub {
    animation-fill-mode: backwards;
    font-weight: 800;
    text-align: center;
    font-size: 1rem;
  }
}

a:link,
a:visited {
  text-decoration: none;
  animation: moveInUp 0.8s ease-out 0.25s;
  animation-fill-mode: backwards;
  transition: all 0.4s;
  text-transform: uppercase;
}
.icons-box {
  font-size: $main-font-size-desktop;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  margin: 0 auto 25rem auto;
}

.header__text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  text-transform: uppercase;
  margin: 20rem auto;
  flex: 1;
}

.navigation-links {
  display: flex;

  a {
    gap: 2rem;
  }
}

.heading-primary--main,
.heading-primary--sub {
  animation-fill-mode: backwards;
  font-weight: 800;
  text-align: center;
  font-size: $main-font-size-desktop;
}
.heading-primary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  /*   line-height: 0.9;
 */
}

.heading-primary--main {
  animation: moveInLeft 1s ease-out;
}

.heading-primary--sub {
  animation: moveInLeft 1s ease-out;
}

.main-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*   width: 50%;
 */
  z-index: 1;
  margin: 2rem auto;
  text-align: center;
  flex: 1;
}

.square-box {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.square {
  animation-delay: 0.6s;

  margin: 0 1rem 1rem 0;
  padding: 1.5rem 2rem;
  background-color: $dark-orange-color;
  color: #e9ecef;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 1rem;
  transition: all 0.1s ease-out;
  &:hover {
    background-color: $light-orange-color;
    transition: none 0.5s ease 0s;
    cursor: pointer;
  }
}
.main-heading-sub {
  font-weight: 700;
}

.main-heading-main,
.main-heading-text,
.square {
  backface-visibility: hidden;
  animation: fadeDown 0.85s ease-out both;
}

.main-heading-main {
  animation-delay: 0.5s;
  font-size: $main-font-size-desktop;
  margin: 0rem 0rem 1rem 0rem;
  font-weight: 700;
}

.main-heading-text {
  animation-delay: 0.7s;
  font-size: $main-font-size-tablet;
  line-height: 1.5;
  margin: 0 0 2rem 0;
}
.main-heading-sub {
  animation: fadeIn 0.6s ease-in-out 1.3s;
  animation-fill-mode: backwards;
  margin: 0rem 0rem 3rem 0;
  font-size: 3rem;
  color: $dark-orange-color;
}
.underBar::after {
  display: block;
  background-color: currentColor;
  height: 0.5rem;
  margin: 2rem auto;
  animation: moveInUp 1s ease-out 0.2s;
  animation-fill-mode: backwards;
}

.underBar::after {
  content: "";
  width: 15rem;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    opacity: 2;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

ion-icon {
  color: $dark-color-gray;
  font-size: $main-font-size-desktop;
  &:hover {
    color: $light-orange-color;
    transform: scale(1.2);
    transition: all 0.4s ease;
  }
}

.off-screen-menu {
  background-color: rgba(0, 0, 0, 0.95);
  height: 100vh;
  width: 100%;
  max-width: 60rem;
  position: fixed;
  top: 0;
  right: -60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: 0.4s ease;
  font-size: $main-font-size-tablet;
  z-index: 1;
}
.off-screen-menu li {
  margin: 3rem;
  /*   color: $light-background;
 */
  a:hover {
    transition: all 1s ease-in-out;
  }
}

.off-screen-menu.active {
  right: 0;
  z-index: 3;
}

/* nav */
nav {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;

  margin: 1rem;
  z-index: 7;
  background-color: transparent;
}

/* ham menu */
.ham-menu {
  height: 5rem;
  width: 4rem;
  margin-left: auto;
  position: relative;
  z-index: 1;
  backface-visibility: hidden;
}
.ham-menu span {
  height: 0.5rem;
  /*   width: 100%;
 */
  background-color: $dark-orange-color;
  color: #212529;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  z-index: 1;
  backface-visibility: hidden;
  /*   background: none; */
}
.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}
.ham-menu.active {
  backface-visibility: hidden;
}
.ham-menu.active span {
  color: $dark-color-gray;
  background-color: $dark-orange-color;
  backface-visibility: hidden;

  li:link,
  li:visited {
    color: #d9480f;
  }
}
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: $dark-orange-color;
}
.ham-menu.active span:nth-child(2) {
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: $dark-orange-color;
}

form {
  max-width: 45rem;
  margin: 0 auto;
}

.feedback-input {
  border-radius: 0.4rem;
  transition: all 0.3s;
  width: 100%;
  padding: 1.5rem 1rem;
  margin: 1rem 0;
  font-size: 2.5rem;
  border-color: $light-orange-color;
}

.feedback-input:focus {
  /*   margin-bottom: 1.5rem;
 */
  border-color: $light-orange-color;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

.form-btn {
  width: 100%;
  border-radius: 1rem;
  border: 0;
  cursor: pointer;
  font-size: 2rem;
  padding: 2rem 1.5rem;
  font-weight: 700;
  background-color: $dark-orange-color;
}
[type="submit"]:hover {
}

#contact-section {
  display: flex;
  flex-direction: row;
  font-size: 5rem;
  text-align: center;
  margin-top: 25rem;
  margin: 0 auto;
}

.ham-menu span {
  height: 0.5rem;
  width: 100%;
  border-radius: 2.5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s ease;
  z-index: 3;
}
.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}

.ham-menu.active {
  backface-visibility: hidden;
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
  color: transparent;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

//main
footer {
  margin: 0 auto;
}

.form-main-text {
  font-size: 3rem;
  font-weight: 700;
}
/* #projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25rem auto;
} */

.main-title {
  font-size: 4rem;
  margin-bottom: 20rem;
  text-align: center;
  font-weight: 700;
  margin: 5rem auto;
}

.project-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  /*   padding: 1rem 2rem;
 */
  /*   margin: 0 auto; */
}

.project-text {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  font-size: 2rem;
  margin: 2rem auto;
  flex: 2;

  a {
    width: fit-content;
  }
}

.project-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.project-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.code-link {
  border: solid 0.3rem $dark-orange-color;
  color: #000;
  border-radius: 1rem;
  padding: 1rem 2rem;
  font-weight: 700;
  &:hover {
    background-color: $dark-orange-color;
    color: #eee;
    transition: all 0.4s ease-out;
  }
}

img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  /*  &:hover {
    transform: scaleX(1.2) scaleY(1.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
    border-radius: 0.5rem; 
  }*/
}

///footer

form {
  max-width: 45rem;
  margin: 0 auto;
  backface-visibility: hidden;
  padding: 0 1rem;
}

.feedback-input {
  border-radius: 0.4rem;
  transition: all 0.3s;
  width: 100%;
  padding: 1.5rem 1rem;
  margin: 1rem 0;
  font-size: 2rem;
  border: none;
  border-radius: 1rem;
  background-color: $light-gray-color;
  color: $light-background;
}

input:focus {
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  width: 100%;
  background: $dark-orange-color;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 2rem;
  transition: all 0.3s;
  padding: 2rem 1.5rem;
  font-weight: 500;
}
[type="submit"]:hover {
  background: #cc4949;
}

#contact-section {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  margin: 10rem auto;
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 1.5rem auto;
  gap: 2rem;
  color: #212529;

  .my-contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
  }
  .my-contacts:nth-child(even) {
    gap: 2rem;
  }
  p,
  a {
    font-size: 2rem;
  }
}
