$white: white;
$black: black;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 59%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 56%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 65%;
  }
}

body {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: Arial, Helvetica, sans-serif;
}

/* :root {
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --foreground: #ff0000;
  --background: #fff;
} */

a {
  text-decoration: none;
  color: inherit;
}

.header-links a:hover {
  color: #364fc7;
}

li {
  list-style: none;
}

nav {
  height: 60px;
  background-color: #000;
  display: flex;
  align-content: flex-end;
  align-items: center;
}

nav a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
}
nav a:hover {
  color: #364fc7;
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
}
.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  width: 100%;
  color: $white;
}

.header-para {
  font-size: 1.9rem;
}

.header__content {
  /* background-image: url(../assets/img/me.png); */
  position: fixed;
  z-index: 1000;
  background-color: $black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em 4em;
}

.header-logo {
  gap: 1em;
}

.header-logo-sub {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  font-size: 2.2rem;
  line-height: 1.5;
  font-weight: bold;
  letter-spacing: -0.5px;
}

.header img {
  height: 60px;
  width: 60px;
  border-radius: 100%;
}

.header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5em;
}

.home-hero {
  background-image: url("../assets/img/background_img.jpg");
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
}

.home-hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  max-width: 70em;
}

.heading-primary-sub {
  font-size: 2.2rem;
  padding: 0 0 0.5em 0;
  line-height: 1.5;
  letter-spacing: -0.5px;
}

h1 {
  font-size: 6rem;
  margin: 0 0 0.5em 0;
}

.heading-primary,
.heading-primary-sub {
  text-align: center;
}

.home-hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em 0 0 0;
}

.btn {
  font-size: 2rem;
  border-radius: 5px;
  padding: 1em 3em;
  background-color: #100f0f;
  width: 100%;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: $white;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.home-hero__socials {
  border: 1px solid $white;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}

.home-hero__social-icon-link {
  display: block;
  padding: 1em;
  border: 0.5px solid #fff;
  border-bottom: #fff;
  cursor: pointer;
}

ion-icon {
  height: 30px;
  width: 30px;
}

.main-container {
  padding: 2em 0;
  margin: 0 auto;
  max-width: 80%;
}

.main-container-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 4em 0;
  gap: 1.5em;
}

.main-container-sec-main {
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.main-container-sec-sub {
  font-size: 2rem;
  font-weight: 500;
  color: #626568;
  max-width: 40em;
}

.project-row {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 4em;
  margin-bottom: 8em;
}

.project-row-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.project-row-image {
  width: 100%;
  object-fit: cover;
  max-height: 900px;
  border-style: none;
}
.project-row-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;

  padding: 2em 0;
}

.project-row-content-main {
  margin: 0em 0 1em 0;
  font-size: 3rem;
}

.project-row-content-sub {
  font-size: 2rem;
  font-weight: 500;
  color: #626568;
  line-height: 1.8;
  margin-bottom: 2em;
  max-width: 50em;
}

.project-row-content-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #364fc7;
  width: 15em;
  height: 4em;
  font-weight: 800;
  border-radius: 5px;
  font-size: 1.6rem;
}
.about {
  background-color: #f1f3f5;
  margin: 0;
  max-width: 100%;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
  margin: 0 auto;
  width: 90%;
}

.about-content-main {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  text-align: left;
  flex-direction: column;
  padding-top: 2em;
  gap: 1em;
}
.skills {
  display: flex;
  flex-wrap: wrap;
}

.skills-block {
  padding: 1em;
  margin: 0 1em 1em 0;
  background-color: #ced4da;
  color: #626568;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.5rem;
  border-radius: 5px;
}

.about-content-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 2em 0;
}

@media screen and (max-width: 900px) {
  .header img {
    width: 40px;
    height: 40px;
  }
  .project-row {
    grid-template-columns: 1fr;
  }
  .project-row-content {
    align-items: center;
    text-align: center;
  }

  .about-content {
    grid-template-columns: 1fr;
  }
  .home-hero__socials {
    display: none;
  }

  .links-container {
    flex-direction: column;
    align-items: start;
    justify-content: start;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 1001;
    width: 50%;
    background-color: #000;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.25);
    transition: 0.5s ease-in-out;
    padding: 10em 0;
  }

  nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 2em 3em;
    text-align: start;
    justify-content: start;
  }

  .open-sidebar-button,
  .close-sidebar-button {
    display: block;
    padding: 0;
  }

  #sidebar-active:checked .open-sidebar-button,
  .close-sidebar-button {
    padding: 1em 4em;
  }
  #sidebar-active:checked ~ .links-container {
    right: 0;
  }

  nav svg:hover {
    fill: #364fc7;
  }
  #sidebar-active:checked ~ #overlay {
    height: 200%;
    width: 100vw;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
  }
}
/////
///
///
///
///
