/* colors
color-gray-dark: #777;
text color and links # #212529;

 */
$dark-color-gray: #212529;
$light-gray-color: #495057;
$light-background: #e9ecef;
$dark-orange-color: #d9480f;
$light-orange-color: #f76707;

// font size

$main-font-size: 8rem;
$icons-font-size: 6rem;

$main-primary-text: 4rem;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: $light-background;
  color: $dark-color-gray;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  backface-visibility: hidden;
  padding: 5rem;
}

a:link,
a:visited {
  text-decoration: none;
  animation: moveInUp 0.8s ease-out 0.25s;
  animation-fill-mode: backwards;
  transition: all 0.4s;
}
.icons-box {
  font-size: $icons-font-size;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  margin: 0 auto;
}

.header__text-box {
  display: block;
  line-height: 0.9;
  text-transform: uppercase;
  margin: 25rem auto;
}

.navigation-links {
  display: flex;

  a {
    gap: 2rem;
  }
}

.heading-primary--main {
  animation: moveInLeft 1s ease-out;
}

.heading-primary--sub {
  animation: moveInLeft 1s ease-out;
}
.heading-primary--main,
.heading-primary--sub {
  font-size: $main-font-size;
  animation-fill-mode: backwards;
}

.main-primary {
  display: flex;
  flex-direction: column;
  /*    align-items: center; */
  justify-content: center;
  text-align: left;
  width: 50%;
  z-index: 1;
  margin: 0 auto;
}

.main-heading-sub {
  font-weight: 600;
}

.main-heading-main,
.main-heading-text,
.square {
  backface-visibility: hidden;
  animation: fadeDown 0.85s ease-out both;
}

.main-heading-main {
  animation-delay: 0.5s;
  font-size: $main-font-size;
  margin: 0rem 0rem 1rem 0rem;
}

.square {
  animation-delay: 0.6s;

  display: inline-flex;
  margin: 0 0.5rem 0.5rem 0;
  padding: 1.5rem 2rem;
  background-color: $dark-orange-color;
  color: #e9ecef;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 1rem;
  transition: all 0.1s ease-out;
  &:hover {
    background-color: $light-orange-color;
    transition: none 0.5s ease 0s;
    cursor: pointer;
  }

  &-box {
    /*     display: block; */
  }
}

.main-heading-text {
  animation-delay: 0.7s;
  font-size: $main-primary-text;
  line-height: 1.5;
  margin: 0 0 2rem 0;
}
.main-heading-sub {
  animation: fadeIn 0.6s ease-in-out 1.3s;
  animation-fill-mode: backwards;
  margin: 0rem 0rem 3rem 0;
  font-size: 3rem;
  color: $dark-orange-color;
}
h1::after {
  display: block;
  background-color: currentColor;
  height: 0.5rem;
  margin: 2rem auto;
  animation: moveInUp 1s ease-out 0.2s;
  animation-fill-mode: backwards;
}
.underBar::after {
  content: "";
  width: 15%;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    opacity: 2;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); // Use px for pixel values in SCSS
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(100px); // Use px for pixel values in SCSS
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
/* 
-webkit-transform: translate3d(0, -100px, 0);
transform: translate3d(0, -100px, 0); */

ion-icon {
  color: $dark-color-gray;
  font-size: $icons-font-size;
  &:hover {
    color: $light-gray-color;
    transform: scale(1.5);
  }
}

.off-screen-menu {
  background-color: ($dark-color-gray);
  backdrop-filter: blur(0.2rem);
  height: 100vh;
  width: 100%;
  max-width: 60rem;
  position: fixed;
  top: 0;
  right: -60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.3s ease;
  font-size: 4rem;
}
.off-screen-menu li {
  margin: 3rem;
  color: $light-background;

  a:hover {
    transition: all 1s ease-in-out;
  }
}

.off-screen-menu.active {
  right: 0;
  z-index: 1;
}

/* nav */
nav {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  background-color: $light-background;
  transition: moveIn 1s;
  z-index: 10;
}

/* ham menu */
.ham-menu {
  height: 5rem;
  width: 4rem;
  margin-left: auto;
  position: relative;
  z-index: 10;
} /* colors
color-gray-dark: #777;
text color and links # #212529;

 */
$dark-color-gray: #212529;
$light-gray-color: #495057;
$light-background: #e9ecef;
$dark-orange-color: #d9480f;
$light-orange-color: #f76707;

// font size

$main-font-size: 8rem;
$icons-font-size: 6rem;

$main-primary-text: 4rem;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: $light-background;
  color: $dark-color-gray;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  backface-visibility: hidden;
  padding: 5rem;
}

a:link,
a:visited {
  text-decoration: none;
  animation: moveInUp 0.8s ease-out 0.25s;
  animation-fill-mode: backwards;
  transition: all 0.4s;
}
.icons-box {
  font-size: $icons-font-size;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  margin: 0 auto;
}

.header__text-box {
  display: block;
  line-height: 0.9;
  text-transform: uppercase;
  margin: 25rem auto;
}

.navigation-links {
  display: flex;

  a {
    gap: 2rem;
  }
}

.heading-primary--main {
  animation: moveInLeft 1s ease-out;
}

.heading-primary--sub {
  animation: moveInLeft 1s ease-out;
}
.heading-primary--main,
.heading-primary--sub {
  font-size: $main-font-size;
  animation-fill-mode: backwards;
}

.main-primary {
  display: flex;
  flex-direction: column;
  /*    align-items: center; */
  justify-content: center;
  text-align: left;
  width: 50%;
  z-index: 1;
  margin: 0 auto;
}

.main-heading-sub {
  font-weight: 600;
}

.main-heading-main,
.main-heading-text,
.square {
  backface-visibility: hidden;
  animation: fadeDown 0.85s ease-out both;
}

.main-heading-main {
  animation-delay: 0.5s;
  font-size: $main-font-size;
  margin: 0rem 0rem 1rem 0rem;
}

.square {
  animation-delay: 0.6s;

  display: inline-flex;
  margin: 0 0.5rem 0.5rem 0;
  padding: 1.5rem 2rem;
  background-color: $dark-orange-color;
  color: #e9ecef;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 1rem;
  transition: all 0.1s ease-out;
  &:hover {
    background-color: $light-orange-color;
    transition: none 0.5s ease 0s;
    cursor: pointer;
  }

  &-box {
    /*     display: block; */
  }
}

.main-heading-text {
  animation-delay: 0.7s;
  font-size: $main-primary-text;
  line-height: 1.5;
  margin: 0 0 2rem 0;
}
.main-heading-sub {
  animation: fadeIn 0.6s ease-in-out 1.3s;
  animation-fill-mode: backwards;
  margin: 0rem 0rem 3rem 0;
  font-size: 3rem;
  color: $dark-orange-color;
}
h1::after {
  display: block;
  background-color: currentColor;
  height: 0.5rem;
  margin: 2rem auto;
  animation: moveInUp 1s ease-out 0.2s;
  animation-fill-mode: backwards;
}
.underBar::after {
  content: "";
  width: 15%;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    opacity: 2;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); // Use px for pixel values in SCSS
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(100px); // Use px for pixel values in SCSS
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
/* 
-webkit-transform: translate3d(0, -100px, 0);
transform: translate3d(0, -100px, 0); */

ion-icon {
  color: $dark-color-gray;
  font-size: $icons-font-size;
  &:hover {
    color: $light-gray-color;
    transform: scale(1.5);
  }
}

.off-screen-menu {
  background-color: ($dark-color-gray);
  backdrop-filter: blur(0.2rem);
  height: 100vh;
  width: 100%;
  max-width: 60rem;
  position: fixed;
  top: 0;
  right: -60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.3s ease;
  font-size: 4rem;
}
.off-screen-menu li {
  margin: 3rem;
  color: $light-background;

  a:hover {
    transition: all 1s ease-in-out;
  }
}

.off-screen-menu.active {
  right: 0;
  z-index: 3;
}

/* nav */
nav {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  background-color: $light-background;
  transition: moveIn 1s;
}

/* ham menu */
.ham-menu {
  height: 5rem;
  width: 4rem;
  margin-left: auto;
  position: relative;
  z-index: -3;
}
.ham-menu span {
  height: 0.5rem;
  width: 100%;
  background-color: $dark-orange-color;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
  z-index: 4;
}
.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}
.ham-menu.active {
  background-color: #212529;
}
.ham-menu.active span {
  background-color: #212529;
  /*  color: #fff; */
}
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

form {
  max-width: 45rem;
  margin: 0 auto;
}

.feedback-input {
  border-radius: 0.4rem;
  border: 0.2rem solid $dark-orange-color;
  transition: all 0.3s;
  width: 100%;
  padding: 1.5rem 1rem;
  margin: 1rem 0;
  font-size: 2.5rem;
}

.feedback-input:focus {
  border: 0.1rem solid $light-orange-color;
  margin-bottom: 1.5rem;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  width: 100%;
  background: $dark-orange-color;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 2rem;
  transition: all 0.3s;
  padding: 2rem 1.5rem;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #cc4949;
}

#contact-section {
  display: flex;
  flex-direction: column;
  font-size: 5rem;
  text-align: center;
  margin-top: 25rem;
}

.ham-menu span {
  height: 0.5rem;
  width: 100%;
  background-color: $dark-orange-color;
  border-radius: 2.5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
  z-index: 3;
}
.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}
.ham-menu.active span {
  background-color: white;
}
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

form {
  max-width: 45rem;
  margin: 0 auto;
}

.feedback-input {
  border-radius: 0.4rem;
  border: 0.2rem solid $dark-orange-color;
  transition: all 0.3s;
  width: 100%;
  padding: 1.5rem 1rem;
  margin: 1rem 0;
  font-size: 2.5rem;
}

.feedback-input:focus {
  border: 0.1rem solid $light-orange-color;
  margin-bottom: 1.5rem;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  width: 100%;
  background: $dark-orange-color;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 2rem;
  transition: all 0.3s;
  padding: 2rem 1.5rem;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #cc4949;
}

#contact-section {
  display: flex;
  flex-direction: column;
  font-size: 5rem;
  text-align: center;
  margin-top: 25rem;
}
